@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import 'colors';

.boxTitleAbout {
    
    @media (max-width: 500px) {
        height: 223px;
    }

    &__image {
        height: 223px;
    }
}

.valeurs {
    max-width: 1023px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    

    @media (max-width: 1260px) {
        padding-right: 8px;
        padding-left: 8px;
        box-sizing: border-box;
    }

    @media (max-width: 500px) {
        max-width: 446.5px;
        margin: 10px auto 10px;
        padding-left: 4px;
        padding-right: 4px;
        box-sizing: border-box;
    }

    @media (max-width: 400px) {
        max-width: 335px;
    }

    &__box {
        width: 100%;
        margin-bottom: 15px;
        position: relative;

        @media (max-width: 500px) {
            margin-bottom: 0px;
        }
    }
    
}

.boxValor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: $text-color-primary;
    color: $title-color-img-about;
    border-radius: 5px;
    box-sizing: border-box;
    z-index: 1;

    @media (max-width: 500px) {
        height: 30px;
    }

    &__title {
        width: 80%;
        margin: 0;
        height: 52px;
        line-height: 52px;
        font-weight: 500;
        font-family: 'Montserra', sans-serif;
        font-size: 1.5rem;
        padding-left: 15px;
        box-sizing: border-box;
        z-index: 2;
        
        @media (max-width: 500px) {
            height: 30px;
            font-size: 0.85rem;
            line-height: 30px;
        }
    }
    
    &__icone-arrow {
        width: 32px;
        height: 32px;
        padding: 0;
        margin-right: 13px;
        box-sizing: border-box;
        background-color: $text-color-primary;
        border: none;
        background-image: url('../assets/arrow_back.png') ;
        
        @media (max-width: 500px) {
            width: 30px;
            height: 30px;
        }
    }

}

.btn-anim {
    animation: arrowRotate 200ms both;
}

.btn-anim-reverse {
    animation: arrowRotate-reverse 200ms both;
}

.hiddenText {
    width: 100%;
    border-radius: 0px 0px 5px 5px;
    padding: 15px 10px;
    box-sizing: border-box;
    margin: 0;
    z-index: -1;
    color:$text-color-primary;
    background-color: $background-gallery-desktop;
    font-size: 1.1rem;
    line-height: 25.67px;
    font-weight: 400;
    margin: 0;
    font-family: 'Montserra', sans-serif;

    
    @media (max-width: 500px) {
        font-size: 0.8rem;
        line-height: 17px;
    }

    &-visible {
        animation: textAppearance 1000ms both;
    }
    &-noVisible {
        animation: textAppearance-reverse 1000ms both;
    }
}

.boxText {
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    
    padding: 0;
    margin-bottom: 20px;
    &-extension{
        animation: boxExtension 700ms both
    }
    &-shrinking{
        animation: boxShrinking 700ms both;
    }
}


@keyframes arrowRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-180deg);
        
    }
}

@keyframes arrowRotate-reverse {
    from {
        transform: rotate(-180deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes textAppearance {
    from {
        transform: translateY(-100%);
        transform-origin: bottom;     
    }
    to {
        transform:translateY(0);
        
    }
}

@keyframes textAppearance-reverse {
    from {
        transform:translateY(0);      
        transform-origin: top;     
    }
    to {
        transform: translateY(-100%);
        
    }
}

@keyframes boxExtension {
    from {
        max-height: 0px;
        transform-origin: bottom;
    }
    to {
        max-height: 800px;

    }
}

@keyframes boxShrinking {
    from {
        max-height: 81.3px;
        transform-origin: top;
    }
    to {
        max-height: 0px;
        box-sizing: border-box;
    }
}