@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import 'colors';
$height-banner: 68px;

.banner {
    max-width: 1240px;
    height: $height-banner;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2em auto 3em;
    @media (max-width: 1260px) {
        margin-right: 8px;
        margin-left: 8px;
        box-sizing: border-box;
    }

    @media (max-width: 500px) {
        max-width: 335px;
        margin: 0 auto 0;
    }

    @media (max-width: 345px) {
        margin-right: 4px;
        margin-left: 4px;
        box-sizing: border-box;
    }
    
    &__logo {
        max-width: 210px; 
        height: $height-banner;  
        margin: 0 0;  

        @media (max-width: 500px) {
            max-width: 145px;
            height: 47px;
        }
    }

    &__nav {
        
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 960px) {
            max-width: 309px;
            width: auto;
            gap: 30px;
        }

        @media (min-width: 961px) {
            width: 309px;
            max-width: none;
        }

        @media (max-width: 500px) {
            max-width: 190px;
            height: 47px;
            gap: 15px;
        }

    }
}

.nav__btn {
    font-size: 1.5rem;
    line-height: 34px;
    font-weight: 500;
    font-family: 'Montserra', sans-serif;
    color: $text-color-primary;
    

    @media (max-width: 500px) {
        font-size: 0.8rem;   
        line-height: 17px; 
    }

    &-accueil {
        max-width: 136px;
        text-align: center;

        @media (max-width: 500px) {
            width: 55px;   
            
        }
    }

    &-apropos {
        max-width: 116px;
        text-align: right;

        @media (max-width: 500px) {
            max-width: 66px;   
        }
    }
}

.active-link {
    text-decoration: underline;
}

.inactive-link {
    text-decoration: none;
}