@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import 'colors';

$image_btn-left : '../assets/btn-left.png';
$image_btn-right : '../assets/btn-right.png';
$image_btn-left-litle : '../assets/btn-left-litle.png';
$image_btn-right-litle : '../assets/btn-right-litle.png';

.boxSlide {
    max-width: 1240px;
    height: 415px;
    margin: auto;
    position: relative;
    
    @media (max-width: 1260px) {
        margin-right: 8px;
        margin-left: 8px;
        box-sizing: border-box;
    }

    @media (max-width: 500px) {
        margin-right: auto;
        margin-left: auto;
        max-width: 335px;
        height: 255px;
    }
    
    @media (max-width: 345px) {
        margin-right: 4px;
        margin-left: 4px;
        box-sizing: border-box;
    }

    &__picture {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
    }

    &__btn {
        width: 96px;
        height: 119.64px;
        z-index: 1;
        border: none;
        background-repeat: no-repeat;
        background-color: rgba(255, 255, 255, 0);
        background-position: center;
        
        @media (max-width: 500px) {
            width: 24px;
        }
    }

    &__btn-left {
        background-image: url($image_btn-left);        
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);

        @media (max-width: 500px) {
            background-image: url($image_btn-left-litle);
        }
    }

    &__btn-right {
        background-image: url($image_btn-right);
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(-100%, -50%);

        @media (max-width: 500px) {
            background-image: url($image_btn-right-litle);
        }
    }

    &__numberPicture {
        max-width: 24px;
        color: $title-color-img-about;
        font-family: 'Montserra', sans-serif;
        line-height: 25.67px;
        font-weight: 500;
        font-size: 1.1rem;
        margin: 0;
        position: absolute;
        top: 93%;
        left: 50%;
        transform: translate(-50%, -93%);
    }

}